:root {
  line-height: 1.5;

  --text-2xs: 0.3rem;
  --text-xs: 0.5rem;
  --text-sm: 0.825rem;
  --text-base: 1rem;
  --text-med: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 1.75rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

h1,
h2,
h3,
h4,
h5,
ol,
ul,
figure,
p,
body {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
div,
p,
a,
label,
button {
  font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h5 {
  font-size: var(--text-base);
}

body {
  padding: 1.5rem;
  background-color: #ccdab5;
  height: 94vh;

  display: flex;
  gap: 1.5rem;
}

#side-nav {
  padding-top: 1.5rem;

  flex-shrink: 0;
  width: 286px;
  transition: all 0.3s ease;
}

#user-card {
  width: 260px;

  padding: 0.8rem;
  background-color: #ffffff80;
  border-radius: 0.8rem;
  box-shadow: -11px 11px 16px -7px rgba(46, 46, 46, 0.3);

  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-container {
  width: 56px;
  height: 56px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

#task-list {
  background-color: #ffffff80;
  box-shadow: -11px 11px 16px -7px rgba(46, 46, 46, 0.3);
  border-radius: 0.8rem;

  flex: 1;
  min-width: 400px;
}

@media (max-width: 920px) {
  #side-nav {
    display: none;
  }

  #task-list {
    min-width: 400px;
  }
}
