/* normalise and reset default broswer stylings */
:root {
  line-height: 1.5;

  --text-2xs: 0.3rem;
  --text-xs: 0.5rem;
  --text-sm: 0.85rem;
  --text-base: 1rem;
  --text-med: 1.35rem;
  --text-lg: 1.6rem;
  --text-xl: 1.75rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;

  --font-light: 200;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

h1,
h2,
h3,
h4,
h5,
ol,
ul,
figure,
p,
body {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
div,
p,
a,
label,
button {
  font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #424636;
}

input,
textarea,
select {
  color: #6a6d61;
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-med);
  font-weight: var(--font-semibold);
}

h4 {
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
}

h5 {
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  opacity: 0.75;
}

p {
  font-size: var(--text-sm);
  font-weight: var(--font-light);
}

body {
  background-color: #ccdab5;
}

.animate-button {
  box-shadow: 0 6px #868686;
}

.animate-button:active {
  box-shadow: 0 3px #737373;
  transform: translateY(3px);
}

.no-animate-button:active {
  filter: brightness(0.9);
}

/* size classes for icons */
.small {
  width: 36px;
  height: 36px;
}

.very-small {
  width: 32px;
  height: 32px;
}

/* stylings for template elements */
#main-page {
  display: flex;
  height: 100vh;
  min-height: 600px;

  display: flex;
  align-items: center;
}

#page-header {
  padding: 0 1.8rem;
  height: 3.2rem;
  background-color: #ffffff;
  box-shadow: -11px 11px 16px -7px rgba(46, 46, 46, 0.15);

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* styling for side nav components */
#side-nav {
  background-color: #3a5955;
  padding: 2rem 1.5rem;
  margin-right: 1rem;

  flex-shrink: 0;
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
}

#user-card {
  width: 240px;

  padding: 0.8rem;
  margin-bottom: 1.5rem;
  background-color: #ffffff95;
  border-radius: 0.8rem;
  box-shadow: -11px 11px 16px -7px rgba(46, 46, 46, 0.3);

  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-container {
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

#side-nav > div {
  padding: 0.8rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#side-nav h3 {
  color: #dbd9d2;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.menu-button img {
  filter: invert(89%) sepia(5%) saturate(273%) hue-rotate(355deg)
    brightness(98%) contrast(91%);
}

.menu-button button {
  background-color: #ffffff00;
  border-style: none;
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  color: #dbd9d2;

  width: 100%;
  height: 100%;
  text-align: left;
}

/* styling for tasks component */
#task-list {
  background-color: #ffffff80;
  box-shadow: -11px 11px 16px -7px rgba(46, 46, 46, 0.3);
  border-radius: 0.8rem;
  padding: 1rem 0rem;

  width: 100%;
  max-width: 700px;
  min-width: 400px;
  height: 90%;

  margin: 0 auto;
}

#task-list > header {
  display: flex;
  justify-content: center;
}

#task-list > hr {
  margin: 1rem 0rem;
}

#task-list > header > h2 {
  font-size: var(--text-2xl);
  padding: 0rem 2rem;
}

/* button */
.create-task {
  background-color: #f7ddab;

  margin-right: 2rem;
  margin-left: auto;
  padding: 0 1rem;
  height: 42px;

  border-style: none;
  border-radius: 0.6rem;

  font-size: var(--text-base);
}

.create-task:active {
  background-color: #ffda94;
}

/* create task form that appears when create task button is clicked, otherwise hidden */
#form-container {
  display: none;
}

#task-form {
  width: 88%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input-field {
  border-style: none;
  outline: none;
  width: 95%;
  padding: 0.2rem 0.4rem;
}

.type-option {
  padding: 0.4rem;
  width: 150px;
  border-style: solid;
  border-color: #00000050;
  border-width: 0.8px;
  border-radius: 0.4rem;
}

.form-row {
  margin-bottom: 0.4rem;
  display: flex;
  gap: 1rem;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

.form-actions {
  display: flex;
  gap: 0.6rem;
}

.form-actions button {
  border-style: none;
  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem;
}

#task-title {
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
}

#task-description {
  resize: none;
}

.no-border:active {
  border-style: none;
}

@media (max-width: 920px) {
  #side-nav {
    display: none;
  }

  #task-list {
    min-width: 400px;
  }
}
