:root {
  line-height: 1.5;

  --text-2xs: 0.3rem;
  --text-xs: 0.5rem;
  --text-sm: 0.85rem;
  --text-base: 1rem;
  --text-med: 1.35rem;
  --text-lg: 1.5rem;
  --text-xl: 1.75rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;

  --font-light: 200;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

h1,
h2,
h3,
h4,
h5,
ol,
ul,
figure,
p,
body {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
div,
p,
a,
label,
button {
  font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h3 {
  font-size: var(--text-med);
}

h4 {
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
}

h5 {
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  opacity: 0.75;
}

p {
  font-size: var(--text-sm);
  font-weight: var(--font-light);
}

body {
  background-color: #ccdab5;
  height: 90vh;
}

header {
  padding: 0 1.5rem;
  width: 100vw;
  height: 3.5rem;
  background-color: #ffffff;
  box-shadow: -11px 11px 16px -7px rgba(46, 46, 46, 0.15);

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.small {
  width: 36px;
  height: 36px;
}

.very-small {
  width: 32px;
  height: 32px;
}

#main-page {
  padding: 1rem 1.2rem;
  display: flex;
  gap: 1rem;
}

#side-nav {
  flex-shrink: 0;
  width: 250px;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#user-card {
  width: 220px;

  padding: 0.8rem;
  background-color: #ffffff80;
  border-radius: 0.8rem;
  box-shadow: -11px 11px 16px -7px rgba(46, 46, 46, 0.3);

  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-container {
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

#side-nav > div {
  padding: 0.8rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.menu-button img {
  opacity: 0.75;
}

.menu-button button {
  background-color: #ffffff00;
  border-style: none;
  font-size: var(--text-sm);
  font-weight: var(--font-normal);
  opacity: 0.75;

  width: 100%;
  height: 100%;
  text-align: left;
}

#task-list {
  background-color: #ffffff80;
  box-shadow: -11px 11px 16px -7px rgba(46, 46, 46, 0.3);
  border-radius: 0.8rem;
  min-height: 88vh;

  flex: 1;
  min-width: 400px;
}

@media (max-width: 920px) {
  #side-nav {
    display: none;
  }

  #task-list {
    min-width: 400px;
  }
}
